/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #4fd565;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #4fd565;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #4ac55e;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #afd47d;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #b1cc5d;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #b0cc5c;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #b2d573;
}

a.article, a.article:hover {
    background: #accc5d !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

.enlace {
    color: #4582EC;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.enlace:hover {
    color: #1559cf;
    text-decoration: underline;
}

.enlace:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.enlace:not([href]):not([tabindex]):hover, .enlace:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

.enlace:not([href]):not([tabindex]):focus {
    outline: 0;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 700;
}

.alert-dismissible {
    padding-right: 4.0945rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.alert-primary {
    color: #24447b;
    background-color: #dae6fb;
    border-color: #cbdcfa;
}

.alert-primary hr {
    border-top-color: #b4ccf8;
}

.alert-primary .alert-link {
    color: #182e54;
}

.alert-secondary {
    color: #5a5e62;
    background-color: #eff0f2;
    border-color: #e8eaed;
}

.alert-secondary hr {
    border-top-color: #dadde2;
}

.alert-secondary .alert-link {
    color: #424547;
}

.alert-success {
    color: #01603d;
    background-color: #ccf1e3;
    border-color: #b8ebd8;
}

.alert-success hr {
    border-top-color: #a4e5cd;
}

.alert-success .alert-link {
    color: #002e1d;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-info hr {
    border-top-color: #abdde5;
}

.alert-info .alert-link {
    color: #062c33;
}

.alert-warning {
    color: #7d5a29;
    background-color: #fcefdc;
    border-color: #fbe8cd;
}

.alert-warning hr {
    border-top-color: #f9ddb5;
}

.alert-warning .alert-link {
    color: #573e1c;
}

.alert-danger {
    color: #712b29;
    background-color: #f7dddc;
    border-color: #f4cfce;
}

.alert-danger hr {
    border-top-color: #efbbb9;
}

.alert-danger .alert-link {
    color: #4c1d1b;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-light hr {
    border-top-color: #ececf6;
}

.alert-light .alert-link {
    color: #686868;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-dark hr {
    border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
    color: #040505;
}

.alert {
    border: none;
    color: #fff;
    font-size: 0.875em;
}

.alert, .alert p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.alert a, .alert .alert-link {
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
}

.alert-primary {
    background-color: #4582EC;
}

.alert-secondary {
    background-color: #adb5bd;
}

.alert-success {
    background-color: #02B875;
}

.alert-info {
    background-color: #17a2b8;
}

.alert-warning {
    background-color: #f0ad4e;
}

.alert-danger {
    background-color: #d9534f;
}

.alert-light {
    background-color: #f8f9fa;
}

.alert-dark {
    background-color: #343a40;
}

.alert-light,
.alert-light a,
.alert-light .alert-link {
    color: #343a40;
}

